h1 {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: black;
}

#content {
    min-width: 50%;
    min-height: 50%;
    text-align: center;
    background-color: black;
    max-height: 75%;
    overflow: auto;
    display: block;
}

#searchbar {
    min-height: 20px;
    min-width: 10%;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
}

#searchbutton {
    min-height: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
}

#searchresults {
    text-align: center;
    background-color: black;
    max-height: 75%;
    display: block;
    float: center;
}

#searcheduser {
    border-style: solid;
    border-width: 2px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 1%;
    min-height: 10%;
    margin-bottom: 5%;
    margin-top: 5%;
    text-align: left;
}

#searcheduser img {
    min-width: 25%;
    min-height: 25%;
    max-width: 25%;
    max-height: 25%;
    margin-bottom: 5%;
    border: 3px solid orange;
}

#detailsbutton {
    margin-left: 10%;
}

#userdetails {
    margin-left: 1%;
    float: center;
}

#content a {
    color: orange;
    text-decoration: none;
}

#content a:visited {
    color: orange;
    text-decoration: none;
}

#content a:hover {
    color: orange;
    text-decoration: none;
    font-size: 150%;
}